body {
  font-family: "Times New Roman", Times, serif;
}
.main {
  width: 100%;
  background-color: #fff;
}
.section {
  background-color: rgb(0, 162, 232);
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 15px;
}
.container-one {
  width: (33% - 2 * 30px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 15px;
}
.section.section-two {
  background-color: rgb(255, 174, 201);
}
.section.section-three {
  background-color: rgb(34, 177, 76);
}
